.app-alert {
  position: relative;
  z-index: 9999; /* Ajusta este valor según sea necesario */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombras para resaltar */
  padding: 20px;
  width: 300px; /* Ajusta el ancho según necesites */
}
