<div class="relative min-h-screen flex items-center justify-center bg-gray-50">
  <img [src]="kitchenImage" alt="Fondo" class="absolute inset-0 w-full h-full object-cover z-0">
  <div class="absolute inset-0 bg-gray-900/50 z-0"></div>
  <div
    class="relative z-10 w-full max-w-7xl grid grid-cols-1 lg:grid-cols-2 px-4 pt-12 pb-24 sm:px-6 sm:pt-16 sm:pb-32 lg:px-8">
    <div class="relative hidden lg:block">
      <img [src]="kitchenImageTwo" alt="Lado" class="w-full h-full object-cover rounded-lg shadow-lg">
    </div>
    <div class="bg-white p-8 rounded-lg shadow-lg lg:-ml-1">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-10 w-auto" [src]="urls.logos.logo" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{ 'register.title' |
          translate }}
        </h2>
      </div>

      <div class="absolute top-20 right-325 z-10">
        <button (click)="goToLogin()"
          class="inline-flex items-center justify-center w-10 h-10 bg-indigo-600 rounded-md shadow-sm text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          title="Go to Login">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6" action="#" method="POST">
          <div class="grid grid-cols-2 gap-x-4">
            <div>
              <label for="first_name" class="block text-sm font-medium leading-6 text-gray-900"> {{
                'register.first_name_label'| translate }}<span class="text-red-500">*</span></label>
              <div class="mt-1">
                <input id="first_name" formControlName="first_name" name="first_name" type="text"
                  autocomplete="first_name" required [class.border-red-500]="isFieldInvalid('first_name')"
                  class="block w-full px-3 py-2 placeholder-gray-400 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
              <div
                *ngIf="form.get('first_name')?.invalid && (form.get('first_name')?.dirty || form.get('first_name')?.touched)">
                <div *ngIf="form.get('first_name')?.errors?.['required']" class="text-red-500 text-sm">Este campo es
                  requerido</div>
                <div *ngIf="form.get('first_name')?.errors?.['minlength']" class="text-red-500 text-sm">El campo debe
                  contener al menos 1 carácter</div>
                <div *ngIf="form.get('first_name')?.errors?.['maxlength']" class="text-red-500 text-sm">El campo debe
                  contener como máximo 40 caracteres</div>
              </div>
            </div>
            <div>
              <label for="last_name" class="block text-sm font-medium leading-6 text-gray-900">Apellido <span
                  class="text-red-500">*</span></label>
              <div class="mt-1">
                <input id="last_name" formControlName="last_name" name="last_name" type="text" autocomplete="last_name"
                  required [class.border-red-500]="isFieldInvalid('last_name')"
                  class="block w-full px-3 py-2 placeholder-gray-400 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
              <div
                *ngIf="form.get('last_name')?.invalid && (form.get('last_name')?.dirty || form.get('last_name')?.touched)">
                <div *ngIf="form.get('last_name')?.errors?.['required']" class="text-red-500 text-sm">Este campo es
                  requerido</div>
                <div *ngIf="form.get('last_name')?.errors?.['minlength']" class="text-red-500 text-sm">El campo debe
                  contener al menos 1 carácter</div>
                <div *ngIf="form.get('last_name')?.errors?.['maxlength']" class="text-red-500 text-sm">El campo debe
                  contener como máximo 40 caracteres</div>
              </div>
            </div>
          </div>

          <div>
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address <span
                class="text-red-500">*</span></label>
            <div class="mt-1">
              <input id="email" formControlName="email" name="email" type="email" autocomplete="email" required
                [class.border-red-500]="isFieldInvalid('email')"
                class="block w-full px-3 py-2 placeholder-gray-400 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
              <div *ngIf="form.get('email')?.errors?.['required']" class="text-red-500 text-sm">Este campo es requerido
              </div>
              <div *ngIf="form.get('email')?.errors?.['pattern']" class="text-red-500 text-sm">Correo electrónico no
                válido</div>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">
              Contraseña <span class="text-red-500">*</span>
            </label>
            <div class="div">
              <div class="mt-2 relative">
                <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                  formControlName="password"
                  class="block w-full px-3 py-2 placeholder-gray-400 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm pr-10"
                  placeholder="Ingrese su contraseña">
                <button type="button" (click)="togglePasswordVisibility()"
                  class="absolute inset-y-0 right-0 pr-3 flex items-center text-purple-600">
                  <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </button>
              </div>
              <div
                *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                <div *ngIf="form.get('password')?.errors?.['required']" class="text-red-500 text-sm">Este campo es
                  requerido</div>
                <div *ngIf="form.get('password')?.errors?.['pattern']" class="text-red-500 text-sm">
                  La contraseña debe contener al menos una mayúscula, una minúscula, un número y un carácter especial
                </div>
              </div>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="phone_number" class="block text-sm font-medium leading-6 text-gray-900">
              Número de Celular <span class="text-red-500">*</span><span class="text-red-500">*</span>
            </label>
            <div class="mt-2 relative">
              <input id="phone_number" name="phone_number" type="tel" formControlName="phone_number"
                class="block w-full px-3 py-2 placeholder-gray-400 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                placeholder="(123) 456-7890" pattern="[0-9]*">
              <div
                *ngIf="form.get('phone_number')?.invalid && (form.get('phone_number')?.dirty || form.get('phone_number')?.touched)">
                <div *ngIf="form.get('phone_number')?.errors?.['required']" class="text-red-500 text-sm">Este campo es
                  requerido</div>
                <div *ngIf="form.get('phone_number')?.errors?.['pattern']" class="text-red-500 text-sm">Solo se permiten
                  números</div>
              </div>
            </div>
          </div>

          <div>
            <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Direccion de
              domicilio <span class="text-red-500">*</span></label>
            <div class="mt-1">
              <input id="address" formControlName="address" name="address" type="text" autocomplete="address" required
                [class.border-red-500]="isFieldInvalid('address')"
                class="block w-full px-3 py-2 placeholder-gray-400 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div *ngIf="form.get('address')?.invalid && (form.get('address')?.dirty || form.get('address')?.touched)">
              <div *ngIf="form.get('address')?.errors?.['required']" class="text-red-500 text-sm">Este campo es
                requerido</div>
            </div>
          </div>

          <div>
            <button type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Registrarse
            </button>
          </div>
        </form>

      </div>
      <div *ngIf="showAlert" class="fixed inset-0 flex items-center justify-center z-50">
        <app-alert></app-alert>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showAlertForm" class="fixed inset-0 flex items-center justify-center z-50">
  <app-alert-form (alertClosed)="onAlertClosed()"></app-alert-form>
</div>
