<div id="mobile-menu" class="fixed inset-0 z-50 flex flex-col bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-200 rounded-lg shadow-lg">
        <div class="flex items-center justify-between p-4 border-b border-gray-200">
            <a href="#" class="flex items-center">
                <img class="h-8 w-auto mr-2" [src]="urls.logos.logo" alt="Logo">
                <span class="text-lg font-semibold text-blue-800">Appliance Care</span>
            </a>
        </div>
        <div class="mt-6 overflow-y-auto flex-1">
            <div class="divide-y divide-gray-200">
                <div class="py-4 px-3">
                    <a routerLink="/auth/login" class="block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-blue-700 hover:bg-blue-200 transition-colors duration-200">
                        {{ 'header.ingresar' | translate }}
                    </a>
                </div>
            </div>
        </div>
</div>