<header class="bg-white shadow">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">{{ 'header.empresa' | translate }}</span>
        <img class="h-8 w-auto" [src]="urls.logos.logo" alt="{{ 'header.empresa' | translate }}">
      </a>
    </div>

    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">{{ 'header.abrir_menu' | translate }}</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <a routerLink="/auth/register" class="text-sm font-semibold leading-6 text-gray-900">{{ 'header.servicios' | translate }}</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">{{ 'header.seguimiento_productos' | translate }}</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">{{ 'header.gestion_pagos' | translate }}</a>
    </div>

    
    <div class="hidden lg:flex lg:ml-8" (clickOutside)="closeMenu()">
      <div class="relative">
        <button (click)="toggleMenuI()" class="flex items-center text-gray-700 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800">
          <img [src]="getFlagUrl(currentLanguage)" alt="Current Language" class="block h-auto w-5 flex-shrink-0 rounded-full">
          <span class="ml-3 block text-sm font-medium">{{ currentLanguage.toUpperCase() }}</span>
        </button>
        <div *ngIf="showMenuI" class="absolute right-0 mt-2 w-32 bg-white border border-gray-200 rounded-lg shadow-lg">
          <a href="#" (click)="changeLanguage('en', $event)" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100">
            <img [src]="getFlagUrl('en')" alt="English" class="block h-auto w-5 flex-shrink-0 rounded-full">
            <span class="ml-3 text-sm font-medium">English</span>
          </a>
          <a href="#" (click)="changeLanguage('es', $event)" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100">
            <img [src]="getFlagUrl('es')" alt="Spanish" class="block h-auto w-5 flex-shrink-0 rounded-full">
            <span class="ml-3 text-sm font-medium">Español</span>
          </a>
        </div>
      </div>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end items-center relative">
      <span class="mr-3 text-sm font-semibold text-gray-900" *ngIf="userName">
        <span class="cursor-pointer" (click)="toggleMenu()">{{ userName }} {{ userLastName }}</span>
      </span>
      <button
        class="bg-gray-800 text-white rounded-full h-10 w-10 flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
        (click)="toggleMenu()">
        <span class="sr-only">{{ 'header.abrir_menu_usuario' | translate }}</span>
        <img class="h-8 w-8 rounded-full" [src]="avatar" alt="{{ 'header.imagen_clickeable' | translate }}">
      </button>
      <div *ngIf="showMenu" class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg"
        style="margin-top: 140px;">
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">{{ 'header.perfil' | translate }}</a>
        <a href="#" (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">{{ 'header.cerrar_sesion' | translate }}</a>
      </div>
    </div>

  </nav>
</header>
