body {
    background: linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo para la línea horizontal */
.custom-line {
    border: none;
    height: 2px;
    background-color: #4A90E2;
    margin: 20px 0;
  }
  
  /* Estilo para las tarjetas de electrodomésticos */
  .appliance-card {
    cursor: pointer;
  }
  
  /* Estilo para el mensaje del temporizador */
  .timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4A90E2;
    margin-top: 20px;
  }

  .gradient-background {
    background: linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    color: #000000ab;
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Opcional, por si necesitas centrar el texto */
  }
