<app-menu></app-menu>

<body style="margin-top: 30px;"></body>
<div class="absolute right-330 z-10" style="margin-top: 30px; margin-left: 100px;">
  <button (click)="goToHome()"
    class="inline-flex items-center justify-center w-10 h-10 bg-indigo-600 rounded-md shadow-sm text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    title="Go to Home">
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
    </svg>
  </button>
</div>
<app-appliance-registration></app-appliance-registration>
<div style="margin-top: 100px;">
  <app-footer></app-footer>
</div>
