<body>
    <div style="position: relative;">
        <app-menu></app-menu>
        <div class="mx-auto max-w-full py-16 sm:py-20 lg:py-28 flex items-center justify-center gap-12 relative bg-white border-l-8 border-r-8 border-gray-200 rounded-lg shadow-lg"
            style="margin-left: 100px; margin-right: 100px; margin-top: 90px;">
            <div class="flex-1" style="margin-left: 60px;">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">
                    ¡Bienvenid@, {{ userName }} {{ userLastName }} <br> a Appliance Care!
                </h1>
                <p class="mt-6 text-lg leading-8 text-gray-600" style="text-align: justify;">
                    Nos alegra tenerte de vuelta. Explora nuestros servicios de mantenimiento y <br>
                    reparación de electrodomésticos y encuentra la solución perfecta para tus necesidades.
                </p>
            </div>

            <div class="flex-shrink-0" style="margin-right: 70px;">
                <img [src]="homepages"
                    alt="Imagen" class="w-96 h-96 object-cover rounded-lg shadow-lg">
            </div>
        </div>
        <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
            style="margin-left: 100px; margin-right: 100px;">
            <article
                class="max-w-xl rounded-lg overflow-hidden shadow-lg bg-white transition duration-300 transform hover:scale-105">
                <div class="p-4">
                    <div class="flex items-center gap-x-4 text-xs">
                        <time datetime="2024-07-18" class="text-gray-500">Jul 18, 2024</time>
                        <a href="#"
                            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Servicio</a>
                    </div>
                    <div class="group relative mt-3">
                        <h3 class="text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                Registro de Electrodomésticos
                            </a>
                        </h3>
                        <p class="mt-2 text-sm leading-6 text-gray-600 line-clamp-3">Registra tus electrodomésticos para
                            recibir soporte técnico especializado. Mantén un registro organizado y accede a la
                            información
                            de tus equipos de manera fácil y rápida.</p>
                    </div>
                </div>
                <div class="p-4 bg-gray-50 border-t border-gray-200">
                    <div class="flex items-center gap-x-4">
                        <img [src]="avatar"
                            alt="Avatar" class="h-10 w-10 rounded-full bg-gray-100">
                        <div class="text-sm leading-5">
                            <p class="font-semibold text-gray-900">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    {{ userName }} {{ userLastName }}
                                </a>
                            </p>

                        </div>
                    </div>
                </div>
                <br>
                <a href="/registro-electrodomestico"
                    class="block w-full py-2 text-center text-sm font-medium text-white bg-blue-500 hover:bg-blue-600">
                    Ver detalles
                </a>
            </article>

            <article
                class="max-w-xl rounded-lg overflow-hidden shadow-lg bg-white transition duration-300 transform hover:scale-105">
                <div class="p-4">
                    <div class="flex items-center gap-x-4 text-xs">
                        <time datetime="2024-07-18" class="text-gray-500">Jul 18, 2024</time>
                        <a href="#"
                            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">historial</a>
                    </div>
                    <div class="group relative mt-3">
                        <h3 class="text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                Seguimiento de Productos
                            </a>
                        </h3>
                        <p class="mt-2 text-sm leading-6 text-gray-600 line-clamp-3">Consulta tus productos registrados y su historial. Verifica el tiempo de entrega de tus nuevos productos y mantén un seguimiento de tus electrodomésticos.</p>
                        <br>
                    </div>
                </div>
                <div class="p-4 bg-gray-50 border-t border-gray-200">
                    <div class="flex items-center gap-x-4">
                        <img [src]="avatar"
                            alt="Avatar" class="h-10 w-10 rounded-full bg-gray-100">
                        <div class="text-sm leading-5">
                            <p class="font-semibold text-gray-900">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    {{ userName }} {{ userLastName }}
                                </a>
                            </p>

                        </div>
                    </div>
                </div>
                <br>
                <a href="/registro-electrodomestico"
                    class="block w-full py-2 text-center text-sm font-medium text-white bg-blue-500 hover:bg-blue-600">
                    Ver detalles
                </a>
            </article>

            <article
                class="max-w-xl rounded-lg overflow-hidden shadow-lg bg-white transition duration-300 transform hover:scale-105">
                <div class="p-4">
                    <div class="flex items-center gap-x-4 text-xs">
                        <time datetime="2024-07-18" class="text-gray-500">Jul 18, 2024</time>
                        <a href="#"
                            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Pago</a>
                    </div>
                    <div class="group relative mt-3">
                        <h3 class="text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                Gestión de Pagos
                            </a>
                        </h3>
                        <p class="mt-2 text-sm leading-6 text-gray-600 line-clamp-3">Administra tus pagos de manera rápida y segura. Consulta tu historial de pagos y realiza nuevos pagos para los servicios de reparación y mantenimiento de tus electrodomésticos.</p>
                    </div>
                </div>
                <div class="p-4 bg-gray-50 border-t border-gray-200">
                    <div class="flex items-center gap-x-4">
                        <img [src]="avatar"
                            alt="Avatar" class="h-10 w-10 rounded-full bg-gray-100">
                        <div class="text-sm leading-5">
                            <p class="font-semibold text-gray-900">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    {{ userName }} {{ userLastName }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <a href=""
                    class="block w-full py-2 text-center text-sm font-medium text-white bg-blue-500 hover:bg-blue-600">
                    Ver detalles
                </a>
            </article>
        </div>
    </div>
    <div style="margin-top: 100px;">
        <app-footer></app-footer>
    </div>
</body>
