<body>
    <div style="position: relative;">
        <app-menu></app-menu>
    </div>

    <div class="py-4 sm:py-4 mx-auto max-w-7xl px-6 lg:px-8" style="margin-left: 100px; margin-right: 100px;">
        <div class="flex items-center justify-between">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                {{ 'maintenanceTitle' | translate }}
            </h2>
        </div>
    </div>

    <div class="div" style="margin-left: 100px; margin-right: 100px;">
        <div class="bg-blue-50 p-6 rounded-lg shadow-sm mx-auto mt-8 px-4 sm:px-6 lg:px-8">
            <div class="flex justify-end mb-4">
                <a [routerLink]="getFormRoute()"
                    class="inline-flex items-center justify-center px-4 py-2 bg-indigo-600 rounded-md shadow-sm text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-lg font-semibold"
                    title="Registrar Producto">
                    <svg class="h-5 w-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                    </svg>
                    {{ 'registerProduct' | translate }}
                </a>
            </div>
            <div class="flex space-x-6 overflow-x-auto pb-4">
                <div class="bg-white p-5 rounded-lg shadow-sm border border-blue-100 flex-shrink-0 min-w-[300px] max-w-sm hover:shadow-md transition-shadow duration-300"
                    *ngFor="let appliance of appliances">
                    <div class="space-y-4">
                        <div class="flex items-center mb-4">
                            <img [src]="appliance.damaged_appliance_image" alt="Producto"
                                class="h-16 w-16 rounded-full bg-blue-100 border border-blue-200 mr-4">
                            <div class="flex flex-col">
                                <h3 class="text-lg font-semibold mb-2 text-gray-700">{{ 'productInfo' | translate }}
                                </h3>
                                <div class="text-sm text-gray-600">
                                    <p class="mb-1"><strong>{{ 'brand' | translate }}</strong> {{ appliance.brand }}</p>
                                    <p class="mb-1"><strong>{{ 'problem' | translate }}</strong> {{
                                        appliance.problem_details }}</p>
                                    <p class="mb-1"><strong>{{ 'service' | translate }}</strong></p>
                                    <p class="mb-1"><strong>{{ 'contact' | translate }}</strong> {{
                                        appliance.preferred_contact_method }}</p>
                                    <p><strong>{{ 'date' | translate }}</strong> {{ appliance.application_date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 100px;">
        <app-footer></app-footer>
    </div>
</body>
