<body>
  <app-header></app-header>
  <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:py-32">
    <app-carrusel></app-carrusel>
  </div>
  <app-appliance-registration></app-appliance-registration>
  <div class="bg-white py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="text-center text-lg font-semibold leading-8 text-gray-900"> {{ 'home.brandsTitle' | translate }}
      </h2>
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" [src]="urls.logos.transistor"
          alt="Transistor" width="158" height="48">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" [src]="urls.logos.reform" alt="Reform"
          width="158" height="48">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" [src]="urls.logos.tuple" alt="Tuple"
          width="158" height="48">
        <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" [src]="urls.logos.savvycal"
          alt="SavvyCal" width="158" height="48">
        <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
          [src]="urls.logos.statamic" alt="Statamic" width="158" height="48">
      </div>
    </div>
  </div>


  <app-footer></app-footer>
</body>
